* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --BLACK-COLOR: #000;
    --WHITE-COLOR: #fff;
}

header {
    background-color: var(--BLACK-COLOR);
    color: var(--WHITE-COLOR);
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

/* .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.btn button {
    border: none;
    background-color: aquamarine;
    color: var(--BLACK-COLOR);
    padding: 1em;
    cursor: pointer;
    /* margin: 0em 1em; */
    border-radius: 7px;
    transition: 0.2s all;
}

.btn:active {
    transform: scale(0.95);
}

/* display products */

main {
    overflow-x: scroll;
}

main::-webkit-scrollbar {
    display: none;
}

table {
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

thead {
    background-color: var(--BLACK-COLOR);
    color: var(--WHITE-COLOR);
}

thead tr th {
    padding: 1em;
    white-space: nowrap;
}

tbody tr td {
    padding: 0.4em;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #ddd;
}

table tbody img {
    width: 100px;
}


/* add product form */
.add {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: rgba(221, 221, 221, 0.632);
}

.add form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--BLACK-COLOR);
    padding: 2em;
    color: var(--WHITE-COLOR);
    box-shadow: 2px 2px 10px 1px rgb(0, 0, 0);
    border-radius: 10px;
}

.form-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1em;
}

.form-heading h3 {
    cursor: pointer;
    color: aquamarine;
    transition: 0.2s all;
}

.form-heading h3:active {
    transform: scale(0.7);
}

.add form input {
    padding: 0.5em;
    margin: 0.5em;
    width: 100%;
    outline: none;
}

.add form input[type='file']::file-selector-button {
    cursor: pointer;
    padding: 0.5em;
    border: none;
    background-color: aquamarine;
    color: var(--BLACK-COLOR);

}

.add form input[type='file'] {
    background-color: var(--WHITE-COLOR);
    color: var(--BLACK-COLOR);

}

.add form input[type='submit'] {
    cursor: pointer;
    background-color: aquamarine;
    color: var(--BLACK-COLOR);
}

/* alert */
.success {
    text-align: center;
    color: var(--WHITE-COLOR);
    margin: 1em 2em 0em 2em;
    padding: 1em;
    background-color: green;

}

.alert {
    text-align: center;
    color: var(--WHITE-COLOR);
    margin: 1em 2em 0em 2em;
    padding: 1em;
    background-color: red;
}